<h1>{{ question.question_text }}</h1>
<table border="3px">
<th>Choices</th><th>Votes</th>
{% for choice in question.choice_set.all %}
    <tr>
        <td>{{ choice.choice_text }}</td>
        <td>{{ choice.votes }}</td>
    </tr>
{% endfor %}
</table>
<br>
<a href="{% url 'polls:detail' question.id %}">Vote Again</a>
